/* Button animation */
.button_border {
  opacity: 0;
}

.button:hover .button_background {
  background-color: var(--background-color--background-alternate);
}

.button:hover .button_border {
  opacity: 1;
}

.button_border.is-secondary,
.button_border.is-primary {
  background: conic-gradient(
    from 90deg,
    var(--base-color-brand--contrast-2),
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    var(--base-color-brand--contrast-2)
  );
}

/* Button Secondary adj */
.button.is-secondary:hover .button_background {
  background-color: var(--background-color--background-primary);
}

/* Button Navbar */
.button.is-navbar {
  opacity: 1;
}

.button.is-navbar:hover {
  opacity: 1;
}

/* Swiper */

.swiper-wrapper.is-app-scroll,
.swiper-wrapper.is-about {
  transition: linear;
}

.swiper.is-app-scroll {
  overflow: visible;
}

/** 
* TODO: Trouver bug cards
*/

.swiper-wrapper.is-testimonials {
  overflow: visible;
}

/* Flashlight effect */
.flashlight {
  position: absolute;
  width: 100rem;
  height: 100rem;
  border-radius: 100rem;
  background: radial-gradient(
    circle,
    transparent 85%,
    var(--background-color--background-primary) 70%
  );
  pointer-events: none;
  opacity: 0;
}

/* navbar open */
.navbar_content:has(> .navbar_mobile-button.w-nav-button.w--open) {
  backdrop-filter: blur(0rem);
  background-color: var(--background-color--background-primary);
  border-bottom: none;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* Custom Input Drowpdown */
.fs_selectcustom_link.w-dropdown-link.w--current {
  background-color: var(--base-color-brand--0-1-white-opacity);
  color: var(--text-color--text-primary);
  font-weight: 700;
}

/* Custom Blog top */

.blog_collection-list.is-featured {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.blog_collection-list.is-featured > *:nth-child(-n + 2) {
  /* background-color: red; */
  grid-row-start: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}

.blog_collection-list.is-featured > *:not(:nth-child(-n + 2)) {
  /* background-color: blue; */
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 2;
  grid-column-end: span 2;
}

/* 
! form fix 
*/

*[tabindex]:focus-visible,
input[type='file']:focus-visible {
  outline: none;
}

:focus-visible {
  outline: none;
}

/*
! Quick fix
*/

.hero_asset.is-publishing.is-pc {
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=‘0’);
}
